li {
    position: relative;
    display: inline-block;
    color: white;
    text-decoration: none;
    padding-bottom: 4px;
  }
  
  li::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: #00FFD1; /* এক রঙের underline */
    transition: width 0.4s ease-in-out;
  }
   li:hover::after {
    width: 100%;  
  }
  

  .list a {
    color: #ffffff; /* default text color */
    text-decoration: none; /* underline বন্ধ রাখতে চাইলে */
    transition: color 0.3s ease; /* smooth color change */
  }
  
  .list a:hover {
    color: #8d8d8d; /* hover করলে এই color হবে */
  }